{% extends 'registration/base.html' %}

{% block content %}
    <h1 class="text-center text-success">Dashboard View</h1>
    </br>
    </br>
    <div class="d-grid gap-2 col-10 mx-auto">
        <h3 class="text-center">You have successfully run the page. </h3>
        </br>
        <h3 class="text-center text-decoration-underline">Please avoid running it again to avoid data duplication.</h3>
        </br>
        <h3 class="text-center">Proceed to go to the homepage, and try login in with one of the already created users or by signing up
        with new user data of your choice. </h3>
    </div>
{% endblock %}

