{% extends 'registration/base.html' %}

{% block content %}
<!-- ***** Style Beginning ***** -->
    <style>
        *, *:before, *:after {
      box-sizing: border-box;
    }

    .plane {
      margin: 30px auto;
      max-width: 420px;
    }

    .exit {
      position: relative;
      height: 50px;
    }

    .exit:before, .exit:after {
      content: "EXIT";
      font-size: 14px;
      line-height: 18px;
      padding: 0px 2px;
      font-family: "Arial Narrow", Arial, sans-serif;
      display: block;
      position: absolute;
      background: green;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
    }
    .exit:before {
      left: 0;
    }

    .exit:after {
      right: 0;
    }

    .fuselage {
      border-right: 10px solid #FFFFFF;
      border-left: 10px solid #FFFFFF;
      font-size: 20px;
      word-spacing: 15px;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;

     table, th, td {

    }

    table.center {
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;

    }

    p {
        font-size: 16px;
        line-height: 24px;
        line-break: normal;
    }

    </style>
<!-- ***** Style Ending ***** -->

<form action="" method="get" class="form-horizontal form-groups-bordered" role="form">
    {%csrf_token%}
    <br class="form-group">
    <label for="your_name">Which seat would you like to reserve? </label>
    </br>
    </br>
    <div class="row">
        <div class="col-lg-8">
        <input id="your_name" type="text" name="selected_seat" class="form-control" type="CharField" data-validate="required" placeholder="Example: 4A">
    <!-- The seat number entered gets stored as a value for the key 'your_seat' in a QueryDict (subclass of dict) -->
    </div>
    <div class="col-1 col-lg-offset-8">
        <a class="btn btn-success btn-icon">
        <input type="submit" class="btn btn-success btn-icon" value= "OK" onclick="return confirm('Are you sure of your selection?')" >
        </a>
    </div>
</form>


</br>
<!-- **** Cabin Beginning **** -->

<!-- QUESTIONS:
How to tidy the list, it begins with 10? -->

<div class="plane">
    <div class="fuselage">
        <ol class="cabin fuselage" >
                {% for seat in seat_list %}
                     <!-- This part adds the row number -->
                    {%if seat.seat_number.2 == "A" %}
                    <input type="hidden" value="10">
                        <label for="{{seat.seat_number}}">10</label>
                    {%elif seat.seat_number.1 == "A" %}
                    <input type="hidden" value="1">
                        <label for="{{seat.seat_number}}">{{seat.seat_number.0}}</label>
                    {%endif%}
                    <!-- End of rows -->

                    <!-- This is where we decide how to display the seats -->
                    <a data-toggle="popover" title="CLASS : {{seat.seat_class}};  LOCATION : {{seat.seat_location}}">
                    <input type="checkbox" id="{{seat.seat_number}}" name="{{seat.seat_number}}" class="btn-check"
                           autocomplete="off" data-mdb-toggle="popover" />

                    {% if seat.seat_number.1 == "0" %}

                        {% if seat.seat_flag == "1" %}
                            <input type="checkbox" id="{{seat.seat_number}}" name="{{seat.seat_number}}" class="btn-check"
                           id="{{seat.seat_number}}" checked autocomplete="off" disabled/>
                            <label class="btn btn-secondary" for="{{seat.seat_number}}">X</label>

                        {% else %}
                            <label class="btn btn-success" for="{{seat.seat_number}}">{{seat.seat_number.2}}</label>
                        {%endif%}

                    {% else %}

                        {% if seat.seat_flag == "1" %}
                            <input type="checkbox" id="{{seat.seat_number}}" name="{{seat.seat_number}}" class="btn-check"
                           id="{{seat.seat_number}}" autocomplete="off" disabled/>
                            <label class="btn btn-secondary" for="{{seat.seat_number}}">X</label>

                        {% else %}
                            <a data-toggle="popover" title="CLASS : {{seat.seat_class}};  LOCATION : {{seat.seat_location}}">
                            <label class="btn btn-success" for="{{seat.seat_number}}">{{seat.seat_number.1}}</label>
                             </a>
                            {%endif%}

                    {%endif%}
                    <!-- This is where we separate the seats in rows -->
                    {% if seat.seat_number == "10F" or seat.seat_number == "1F" or seat.seat_number == "2F" or seat.seat_number == "3F" or seat.seat_number == "4F" or seat.seat_number == "5F" or seat.seat_number == "6F" or seat.seat_number == "7F" or seat.seat_number == "8F" or seat.seat_number == "9F"%}
                        <p></p> <!-- spacing between the rows -->
                    {%endif%}
                    <!-- End of separation by rows -->
                {% endfor %}
            <script>
            $(document).ready(function(){
              $('[data-toggle="popover"]').popover();
            });
            </script>
        </ol>
    </div>
</div>


<div>
    </br>
    </br>
     </br>
    </br>
</div>


<table class="center" style="width:20%">
  <tr>
      <th></th>
    <th></th>
    <th></th>
    <th></th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
    <tr>
    <td></td>
    <td id="1A">A</td>
    <td id="1B">B</td>
    <td id="1C">C</td>
    <td id="1D">D</td>
    <td id="1F">F</td>
  </tr>
  <tr>
    <td>1</td>
    {% if seat.seat_flag == 1 and seat.seat_number == 10A %} <!-- this is just me checking the if else, this should actually check if a seat.seat_number matches the selected_seat, then his should be the new display of seats -->
        <td>X</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>F</td>
    {% else  %}
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>F</td>
  {% endif %}
  </tr>
  <tr>
    <td>2</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>3</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>4</td>
    <td>A</td>
        {% if seat.seat_flag == 1 and selected_seat == "4A" %}
        <td>X</td>
        {% endif %}
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>5</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>6</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>7</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
    <tr>
    <td>8</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>9</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
    <tr>
    <td>10</td>
    {% if seat.seat_flag == 1 %}
        <td>X</td>
    {% else %}
    <td>A</td>
    {% endif %}
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>F</td>
  </tr>
</table>


{% endblock %}