{% extends 'registration/base.html' %}

{% block content %}
<!-- ***** Style Beginning ***** -->
    <style>
        *, *:before, *:after {
      box-sizing: border-box;
    }

    .plane {
      margin: 20px auto;
      max-width: 300px;
    }

    .exit {
      position: relative;
      height: 50px;
    }

    .exit:before, .exit:after {
      content: "EXIT";
      font-size: 14px;
      line-height: 18px;
      padding: 0px 2px;
      font-family: "Arial Narrow", Arial, sans-serif;
      display: block;
      position: absolute;
      background: green;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
    }
    .exit:before {
      left: 0;
    }

    .exit:after {
      right: 0;
    }

    .fuselage {
      border-right: 10px solid #d8d8d8;
      border-left: 10px solid #d8d8d8;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .rowNumber{
      display: block;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .rowNumber label {
      display: flex;
      flex: 0 0 14.28571428571429%;
      padding: 5px;
      width:40px;
      text-indent: 10px;
      font-weight: bold;
      color:rgb(120, 120, 120);
    }

    .seats {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .seat_number {
      display: flex;
      flex: 0 0 14.28571428571429%;
      padding: 5px;
      position: relative;
    }

    .seat_number input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }

    /* aqui hacemos que se ponga la cruz cuando chequeas el asiento */

    .seat_number input[type=checkbox]:checked + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
    }

     .seat_number input[type=checkbox]:checked + label:after {
      content: "X";
      text-indent: 0;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

/* tengo que arreglar este porque este deberia determinar que paarezca el popover pero no me funciona uwu */
    /*.seat_number input[type=checkbox]:checked label:after + div {
      position: absolute;
      display: block;
      z-index: 1;
      width: 350%;
      border: solid 1px teal;
      border-radius: 5%;
      padding: 10px;
      background: white;
      left: calc(1rem + 100%);
      bottom: 50%;
      transform: translateY(50%);
    } */


    /* esto hay que mantenerlo para que la siguiente vez el asiento checked este disabled y la siguiente
    persona no pueda clickearlo, pero checked + label y disabled + label tienen los mismos settings */

    .seat_number input[type=checkbox]:disabled + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
    }

    .seat_number input[type=checkbox]:disabled + label:after {
      content: "X";
      text-indent: 0;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .seat_number input[type=checkbox]:disabled + label:hover {
      box-shadow: none;
      cursor: not-allowed;
    }

    .seat_number label {
      display: block;
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5rem;
      padding: 4px 0;
      background: #bada55;
      border-radius: 5px;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }

    .seat_number label:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255, 255, 255, 0.4);
      border-radius: 3px;
    }

    .seat_number label:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }

    .hide {
      display: none;
    }

    .seat_number:hover + .hide {
      display: block;
      color: red;
    }

    @-webkit-keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    @keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    .rubberBand {
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
    }

    /*/* popover*/

    input+div {
      display:none;
    }
    input[type=checkbox]:hover+div {
      position: absolute;
      display: block;
      z-index: 1;
      width: 350%;
      border: solid 1px teal;
      border-radius: 5%;
      padding: 10px;
      background: white;
      left: calc(1rem + 100%);
      bottom: 50%;
      transform: translateY(50%);
     }
     */


    </style>
<!-- ***** Style Ending ***** -->
<!-- ***** Header and Seats Beginning ***** -->
    <h1 class="text-success">Seat Reservation</h1>
     </ul>
    <h4>Please click on the seat (or seats) you would like to reserve.</h4>
    </br>
<!-- **** Cabin Beginning **** -->
{%for seat in seat_list%}
{{seat.seat_number}}
{%endfor%}

     <div class="plane">
      <div class="fuselage">
      </div>
      <ol class="cabin fuselage">
      <li class="firstClass">
        <li class="row row--1">
          <ol class="seats" type="A">
            <li class="seat_number">
                {% if seat.seat_number == 10A and seat.seat_flag == 3%}
                <input type="checkbox" id="1A" name="display_type" value="selected_seat"/>
                <label for="1A">A</label>
                {% elif seat.seat_number == 10A and seat.seat_flag == 1%}
                   <input type="checkbox" id="1A" name="display_type" value="selected_seat"/>
                  <label for="1A">X</label>
                  {%endif%}

            </li>
            <li class="seat_number">
              <input type="checkbox" id="1B" />
              <label for="1B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="1C" />
              <label for="1C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="1" />
              <label for="1">1</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" disabled id="1D" /> <!-- THIS IS HOW WE MAKE IT FOR A SEAT TO BE OCCUPIED -->
              <label for="1D">Occupied</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="1E" />
              <label for="1E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="1F" />
              <label for="1F">F</label>
            </li>
          </ol>
        </li>
        </li>
        <li class="row row--2">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="2A" />
              <label for="2A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="2B" />
              <label for="2B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="2C" />
              <label for="2C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="2" />
              <label for="2">2</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="2D" />
              <label for="2D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="2E" />
              <label for="2E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="2F" />
              <label for="2F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--3">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="3A" />
              <label for="3A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="3B" />
              <label for="3B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="3C" />
              <label for="3C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="3" />
              <label for="3">3</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="3D" />
              <label for="3D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="3E" />
              <label for="3E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="3F" />
              <label for="3F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--4">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="4A" />
              <label for="4A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="4B" />
              <label for="4B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="4C" />
              <label for="4C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="4" />
              <label for="4">4</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="4D" />
              <label for="4D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="4E" />
              <label for="4E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="4F" />
              <label for="4F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--5">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="5A" />
              <label for="5A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="5B" />
              <label for="5B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="5C" />
              <label for="5C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="5" />
              <label for="5">5</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="5D" />
              <label for="5D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="5E" />
              <label for="5E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="5F" />
              <label for="5F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--6">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="6A" />
              <label for="6A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="6B" />
              <label for="6B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="6C" />
              <label for="6C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="6" />
              <label for="6">6</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="6D" />
              <label for="6D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="6E" />
              <label for="6E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="6F" />
              <label for="6F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--7">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="7A" />
              <label for="7A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="7B" />
              <label for="7B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="7C" />
              <label for="7C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="7" />
              <label for="7">7</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="7D" />
              <label for="7D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="7E" />
              <label for="7E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="7F" />
              <label for="7F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--8">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="8A" />
              <label for="8A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="8B" />
              <label for="8B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="8C" />
              <label for="8C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="8" />
              <label for="8">8</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="8D" />
              <label for="8D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="8E" />
              <label for="8E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="8F" />
              <label for="8F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--9">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="9A" />
              <label for="9A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="9B" />
              <label for="9B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="9C" />
              <label for="9C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="9" />
              <label for="9">9</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="9D" />
              <label for="9D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="9E" />
              <label for="9E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="9F" />
              <label for="9F">F</label>
            </li>
          </ol>
        </li>
        <li class="row row--10">
          <ol class="seats" type="A">
            <li class="seat_number">
              <input type="checkbox" id="10A" />
              <label for="10A">A</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="10B" />
              <label for="10B">B</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="10C" />
              <label for="10C">C</label>
            </li>
            <li class="rowNumber">
              <input type="hidden" id="10" />
              <label for="10">10</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="10D" />
              <label for="10D">D</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="10E" />
              <label for="10E">E</label>
            </li>
            <li class="seat_number">
              <input type="checkbox" id="10F" />
              <label for="10F">F</label>
            </li>
          </ol>
        </li>
      </ol>
      <div class="fuselage">
      </div>
    </div>
<!-- **** Cabin Ending **** -->
<!-- ***** Header and Seats Ending ***** -->
<!-- ***** Confirm Button Beginning **** -->
  <br>
  <h6 class = "text-center col-6 mx-auto text-secondary"> Please be sure of your selection before pressing the confirmation button. </h6>
  <br>
  <div class="d-grid gap-2 col-2 mx-auto"> <!--positions the "confirm" button in the center -->
    <input type="submit" value="OK">
      <a href= {% url 'confirmed' %} type='button' class='btn btn-primary'>Confirm selection</a>
      <!-- This redirects to the confirmed page once we have confirmed the selected seats -->
    </div>
  <br>
  <br>
<!-- ***** Confirm Button Ending ***** -->
  </body>

{% endblock %}
<!-- <details data-popover="right">
                <summary>
                  input type="checkbox" id="1A" data-popover="right"</summary>
              {% if checkbox == checked %} seats.seat_flag {% else %} '' {% endif %}
              <label for="1A">A</label>
            </li>
            </details> -->